<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fahlmant CS 496 OAuth 2.0 Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Result</h1>
      <p> This is the result page for OSU's CS 496 OAuth implementation assignment. The email scope was requsted,
      and the results are:</p>
      <br>
      <p>First Name: {{ fname }}<p>
      <p>Last Name: {{ lname }}<p>
      <p>Email: {{ email }}<p>
      <p>State: {{ verified_state }}<p
      <p>Verified: {{ verified }}<p>
      <hr>

    </div>
  </div>
</div>

</body>
</html>