<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taylor.afinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Books" />
        <activity android:name=".addBook" />
        <activity android:name=".listBooks" />
        <activity android:name=".editBook" />
        <activity android:name=".deleteBook" />
        <activity android:name=".listAllBooks" />
        <activity android:name=".listOneBook" />
        <activity android:name=".addShelf" />
        <activity android:name=".deleteShelf" />
        <activity android:name=".editShelf" />
        <activity android:name=".Shelves" />
        <activity android:name=".listShelves" />
        <activity android:name=".listAllShelves" />
        <activity android:name=".listOneShelf" />
        <activity android:name=".storeBook" />
        <activity android:name=".unstoreBook"></activity>
    </application>

</manifest>